body {
    background-color:  #007500 ;
}

h1 {
    font-family: 'Arima Madurai', cursive;
    letter-spacing: 2pt;
    color: #f8f8ff;
    text-align: center;
}

h3 {
    font-family: 'Arima Madurai', cursive;
    letter-spacing: 1.4pt;
    color: #f8f8ff;
}

div {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: #f8f8ff;
    letter-spacing: 1.4pt;
}

#menuBG {
    width: 600px;
    height: 470px;
    margin: 10px auto;
}

#frmMenu {
    width: 600px;
    height: 200px;
}

#totalPrice {
    width: 200px;
    height: 190px;
    margin: 0 auto;
    margin-top: 30px;
    float: right;
}

.left {
    width: 200px;
    height: 200px;
    float: left;
}

.center {
    width: 200px;
    height: 200px;
    float: left;
}

.right {
    width: 200px;
    height: 200px;
    float: right;
}

#showText {
    width: 200px;
    height: 190px;
    margin: 0px auto;
    margin-top: 30px;
    float: left;
}

#cart {
    top: 0;
    margin: 0px auto;
    width: 400px;
    height: 200px;
}

#btnOrder {
    margin: 10px 0px 0px 100px;
    width: 100px;
    height: 40px;
    display: block;
    margin: 25px auto;
    border-radius: 7px;
}

input[type="radio"] {
    margin-right: 7px;
}

input[type="checkbox"] {
    margin-right: 7px;
}